<svg version="1.1"
     baseProfile="full"
     width="380"
     height="180"
     xmlns="http://www.w3.org/2000/svg"
	 xmlns:xlink="http://www.w3.org/1999/xlink"
	 xmlns:xhtml="http://www.w3.org/1999/xhtml">
	 
    <style type="text/css">
		@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
        text, p {
            font-family: 'Roboto', sans-serif;
            color: #efefef;
		}
		
		.bold {
			font-weight: bold;
		}

		.username {
			font-size: 18px;
			margin: 0;
		}

		.availability-badge {
			font-size: 14px;
			margin-left: 4px;
			margin-top: 4px;
			vertical-align: text-top;
			color: #747f8d;
		}

		.availability-badge.online {
			color: #43b581;
		}
	</style>
	
	<rect width="380" height="140" fill="#202225" rx="5" ry="5" />
	
	<image xlink:href="<%= avatar %>" width="116" height="116" x="12" y="12">
		<%= username %>
	</image>

	<switch>
		<foreignObject x="140" y="16" width="180" height="22">
			<xhtml:p class="bold username">
				<%= username %>
				<xhtml:span class="availability-badge <%= online ? 'online' : ''%>">⬤</xhtml:span>
				<xhtml:img src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/2.7.0/72x72/2b50.png" height="18" width="18"></xhtml:img>
			</xhtml:p>
		</foreignObject>
	</switch>

	<% for (let i = 0; i < items.length; i++) { %>
		<text x="140" y="<%= 56 + i*18 %>" font-size="14" fill="#adadad"><%= items[i] %></text>
	<% } %>

	<text font-size="12" fill="#888888" x="268" y="128">discordbotlist.com</text>

	<a xmlns="http://www.w3.org/2000/svg" id="anchor" xlink:href="<%= link %>" target="_blank">
		<rect x="0" y="0" width="100%" height="100%" fill-opacity="0" />
	</a>
</svg>